<div>
  <%= link_to "データセットの一覧", datasets_path %>
</div>

<div>
  <%= link_to "データセットの新規登録", new_dataset_path %>
</div>

<div>
  データセットのバルクインポート
</div>

<div>
  登録しているデータセットを opencv_createsamples の入力にできるように出力する
</div>
